<!DOCTYPE html>
<html lang="en-US">

  <head>
    <title>Contact Management System</title>
    <meta charset="utf-8" />
    <link href="/app.css" rel="stylesheet" type="text/css" />
  </head>


  <body>
  <header>
    <h1>Placement</h1>
  </header>
  <main>
  <%= yield %>
  </main>
  </body>
</html>