<!DOCTYPE html>
<html lang="en-US">

  <head>
    <title>Contact List</title>
    <meta charset="utf-8" />
    <link href="/app.css" rel="stylesheet" type="text/css" />
  </head>


  <body>
    <header>
      <h1>Placement</h1>
      <div class="actions">
        <%= yield_content :header_links %>
      </div>
    </header>
    <main>
    <%= yield %>
    </main>
  </body>
</html>